*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    background-color:rgb(29, 29, 26);
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
}

nav ul li a {
    color: antiquewhite;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a.active, a:hover {
    background-color: rgb(59, 77, 77);
    transition: .5s;
}

.checkbox {
    font-size: 2em;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check {
    display: none;
}

.navbar .logo {
    width: 30px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 10%;
    
}

.section {
    background-color: gray;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.secion_container {
height: 100vh;
margin-left: 2%;
padding: 1rem;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.subtitle {
    letter-spacing: 2px;
    color: black;
    font-weight: 600;
    margin-bottom: .1rem;
    margin-top: 5rem;
}

.title {
    font-size: 10;
    font-weight: 700;
    line-height: 2rem;
    color:rgb(243, 243, 81);
    margin-bottom: 1rem;
}

.description {
    line-height: 1.5rem;
    color:black;
    margin-bottom: 3rem;
}

.action_btns {
    display: flex;
    gap: 1rem;
}

.action_btns button {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10%;
}

.hire_me {
    background-color: rgb(14, 13, 13);
    color: white;
}

.hire_me:hover {
    background-color: rgb(202, 202, 28);
    color: rgb(29, 29, 24);
}

.image img {
    position: absolute;
    height: 110%;
    right: 15%;
    bottom: 0;
}

@media (max-width: 600px) {
    .checkbox {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(49, 41, 32);
        top: 80px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    a:hover, a.active {
        background: none;
        color: white
    }

    #check:checked ~ ul {
        left: 0;
    }
}